@font-face {
  font-family: ReklameScript-Regular;
  src: url("/public/custom-fonts/Cocogoose_Pro_Semilight-trial.ttf") format("opentype");
}

.font_3{
  font-family: ReklameScript-Regular;
  font-style: normal;
  font-variant: normal;
  font-size: 45px;
  line-height: 1em;
  letter-spacing: 3px;
}

.font_2{
  font-size: 37px;
}

.font_2_grid{
  position: absolute;
  margin-left: 7%;
}

.font_9{
  font-size: 17px;
  text-shadow: 2px 2px black;
}

.font_7 {
  font-size: 20px;
  color: #FF40A3;
}

.font_2_grid_double{
  margin-left: 3% !important;
}

.text-shadow{
  text-shadow: 2px 2px black;
}

.text-no-decoration{
  text-decoration: none !important;
}

//Mobile changes
@include media-breakpoint-only(xs) {
  .font_2{
    font-size: 30px;
  }
}