.bg-grid-secondary{
  background-color: $background-secondary;
}

.bg-grid-default{
  background-color: $background-default;
}

.mb-28px{
  margin-bottom: 28px !important;
}

.mb-15px{
  margin-bottom: 15px !important;
}

.pd-2rem{
  padding-right: 2rem !important;
}

.px-6rem{
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.h-available {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

.grid-block, .element-block{
  height: 755px;
  width: 475px;
  overflow: hidden;
  overflow-y: auto;
  font-family: roboto;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  iframe{
    width: 100%;
  }
  img{
    width: 100%;
  }
}

.element-block{
  padding-top: 0;
  padding-left: unset !important;
  padding-right: unset !important;
  width: 477px !important;
  margin-top: -3 !important;
}

.element-block-no-height{
  height: unset !important;
}

.grid-block-double{
  width: 1155px !important;
}

.grid-block-md{
 height: 285px;
 width: 475px;
}


.grid-block-sm{
 height: 125px;
 width: 475px;

}


.grid-space{
  height: 250px;
}

.grid-space-header{
  height: 65vh;
}


.grid-space-navbar{
  //height: 135px;
}

.grid-space-middle{
  height: 125px;
}

.grid-header-primary{
  background-color: $background-primary !important;
}

.grid-header-primary:after{
  border-color: $background-primary transparent transparent transparent !important;
}

.grid-header{
  background-color: $background-secondary;
  height: 60px;
  width: 475px;
  position: relative;
  left: 0;
  padding-right: 0 !important;
  flex: unset !important;

  .gradient{
    background-image: url("/public/img/grid/gradient.png");
    height: 60px;
    width: 240px;
  }
}

.grid-header-double{
  width: 1150px !important;
  flex: unset !important;
}

.grid-header-double:after{
  left: 5% !important;
}

.grid-header:after {
  content: '';
  /* display: block; */
  position: absolute;
  /* top: 10px; */
  /* left: 100%; */
  left: 10%;
  bottom: -25px;
  width: 0;
  height: 0;
  border-color: $background-secondary transparent transparent transparent;
  border-style: solid;
  border-width: 13px;
  right: 0;
  z-index: 2;
}

//cards
.card-primary, .card-secondary{
  height: 244px;
  width: 475px;
  position: relative;
  left: 0;
  flex: unset !important;
}

.card-secondary{
  background-color: rgba(0, 183, 229, 1);
}

.multiple_article{
  height: 200px;
}

.img-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article_grid_image{
  height: 310px;
}


//Tablet changes
@include media-breakpoint-only(sm) {
  .grid-space-header{
    height: 33vh !important;
  }

  .grid-block-sm{
    width: 100%;
  }
  .card-primary{
    width: 100%;
  }
}


//Mobile changes
@include media-breakpoint-only(xs) {
  .grid-space-navbar{
    height: 10px !important;
  }
  .grid-space-header{
    height: 23vh !important;
  }

  .px-6rem{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .pd-2rem{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .grid-header{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .grid-header-double{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .grid-block{
    width: 100%;
  }

  .grid-block-double{
    width: 100%;
  }

  .right-grid-resize{
    padding-left: 1rem !important;
    padding-right: 2rem !important;
  }

  .grid-header:after {
    bottom: -24px;
    z-index: 2;
  }

  .grid-header-double:after{
    bottom: -24px;
    z-index: 2;
  }

  .multiple_article{
    margin-bottom: 20px;
    margin-left: unset !important;
    margin-right: unset !important;
  }
}