body{
  overflow-x: hidden;
}

.mia-header{
  background-image: url("/public/img/header/mia_header.png");
  // height: 54vh;
  height: 54vh;
  // background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;

  .row{
    height: 100%;
    padding-left: 24%;
  }
}

.social-icons-container{
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 10px;
  z-index: 2;
  .social-icons{
    border: 0px solid rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90px;
    /* align-items: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    i{
      color: black;
      font-size: 1.5rem;
    }
  }
}

.bg-white{
  background-color: #ffffff !important;
}

.bg-primary{
  background-color: $brand-primary !important;
}

.btn-primary{
    background-color: #FF40A3 !important;
    border-color: #FF009E !important;
    &:hover{
      background-color: #d43386 !important;
      border-color: #d43386 !important;
    }
}

.color-white{
  color: #ffffff !important;
}

.color-primary{
  color: $brand-primary !important;
}

.border-top-white{
  border-top: 3px solid #ffffff;
}

.border-bottom-white{
  border-bottom: 3px solid #ffffff;
}

//Mobile changes
@include media-breakpoint-only(xs) {
  .mia-header{
    height: 50vh;
    .title-container{
      width: 65% !important;
    }
    .font_3{
      font-size: 50px;
    }
    .row{
      padding-left: 0;
    }
  }

}

//big screens changes
@include media-breakpoint-only(md) {
  .mia-header{
    height: 55vh !important;
  }

}