body{
  overflow-x: hidden;
}
.addthis-smartlayers{
  display: none !important;
}

.mia-header{
  // height: 54vh;
  height: 65vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // position: absolute;
  width: 100%;

  .row{
    height: 100%;
    padding-left: 24%;
  }
}

.social-icons-container{
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 10px;
  z-index: 2;
  .social-icons{
    border: 0px solid rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90px;
    /* align-items: center; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    i{
      color: black;
      font-size: 1.5rem;
    }
  }
}

.bg-white{
  background-color: #ffffff !important;
}

.bg-primary{
  background-color: $brand-primary !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.btn-primary{
    background-color: #FF40A3 !important;
    border-color: #FF009E !important;
    &:hover{
      background-color: #d43386 !important;
      border-color: #d43386 !important;
    }
}

.color-white{
  color: #ffffff !important;
}

.color-primary{
  color: $brand-primary !important;
}

.color-secondary{
  color: rgba(0, 183, 229, 1) !important;
}

.color-black{
  color: #000000;
  &:hover{
    color: $brand-primary !important;
  }
}

.color-black.active{
  color: $brand-primary !important;
}

.border-top-white{
  border-top: 3px solid #ffffff;
}

.border-bottom-white{
  border-bottom: 3px solid #ffffff;
}

.content_title_container{
  padding-left: 7%;
}

.img-clean-display{
  height: 350px !important;
}

.mia-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.mia-page-link{
  color: #FF009E !important;
}

.mia-page-item.active{
  background-color: #d43386 !important;
  .mia-page-link{
    color: #ffffff !important;
  }
}

.know_more_button{
  position: absolute;
  bottom: 20px;
}

//z-index
.z-2{
  z-index: 3 !important;
}

.z-1{
  z-index: 3 !important;
}

.z-4{
  z-index: 4 !important;
}

.z-5{
  z-index: 5 !important;
}

.z-0{
  z-index: 0 !important;
}

//Mobile changes
@include media-breakpoint-only(xs) {
  .img-clean-display{
    height: 275px !important;
  }

  .mia-header{
    height: 50vh;
    .title-container{
      width: 65% !important;
    }
    .font_3{
      font-size: 35px;
    }
    .row{
      padding-left: 0;
    }
  }

  .wxs-100{
    width: 100% !important;
  }

}

//big screens changes
@include media-breakpoint-only(md) {
  .mia-header{
    height: 55vh !important;
  }

}

//tablet screens changes
@include media-breakpoint-only(sm) {
  .wxs-100{
    width: 100% !important;
  }
}

footer{
  position: absolute;
  /* bottom: -22px; */
  margin-bottom: 70px;
  width: 100%;
}