.navbar-mia {

  .navbar-brand {
    color: $navbar-items-color;
    &:hover {
      color: $navbar-items-color-hover;
    }
  }

  height: 87px;
  background-color: #ffffff;
  .nav-item {
    .nav-link {
      color: $navbar-items-color;
      line-height: 16px;
      font-size: 11px;

      &:hover {
        color: $navbar-items-color-hover;
      }
    }

  }

  .active{
    color: $navbar-items-color-hover !important;
  }

  .menu-sm {
    background-color: #000000;
    position: fixed;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    /* padding-top: 50%; */
    z-index: 21;
    flex-direction: column;
    /* overflow-y: auto; */
    justify-content: center;
    display: none;

    .nav-item {
      border-bottom: 1px solid white;
      width: 65%;
      text-align: center;
      .dropdown-menu{
        background-color: #292b2c;
        width: 100%;
        color: white;
        .nav-item{
          border-bottom: unset !important;
          width: 100%;
          .ajax_link_sm{
            background-color: unset!important;
            color: #ffffff;
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
      }
      .nav-link {
        color: white;
        line-height: 1.8rem;
        font-size: 1.3rem;

        &:hover {
          color: $navbar-items-color-hover;
        }
      }
    }
  }

  .container{
    .navbar-logo{
      height: 56px;
      width: 170px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.navbar-toggler-mia {
  background-color: #000000;
  height: 45px;
  position: fixed;
  z-index: 22;

  &:focus{
    outline: 0;
  }

  i {
    color: #ffffff;
  }
}

//Mobile changes
@include media-breakpoint-only(xs) {
  .navbar-mia {
    height: 70px;
    justify-content: center;

    >.container{
      padding: 0 !important;
      .navbar-logo{
        height: 40px;
        width: 150px;
        margin-top: 8px;
      }
    }
  }

  .navbar{
    padding-left: 0 !important;
  }
}

.close-menu-sm{
  display: none;
}

//dropdown menu
.navbar-light .navbar-nav .nav-link {
  color: rgb(64, 64, 64);
}
.btco-menu li > a {
  padding: 10px 15px;
  color: #000;

}

.btco-menu .active a:focus,
.btco-menu li a:focus ,
.navbar > .show > a:focus{
  background: transparent;
  outline: 0;
}


.dropdown-menu .show > .dropdown-toggle::after{
  transform: rotate(-90deg);
}

.ajax_link, .ajax_link_sm{
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}

.ajax_link{
  font-size: 11px !important;
  margin-top: 1.5px !important;
}

.dropdown-item-mia{
  font-size: 11px;
  font-weight: lighter;
}

.dropdown-item-mia.active{
  background-color: unset !important;
}