@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "resources/assets/sass/_variables";
//template resources
@import "resources/assets/sass/template/home";
@import "resources/assets/sass/template/main";
@import "resources/assets/sass/template/navbar";
@import "resources/assets/sass/template/fonts";
@import "resources/assets/sass/template/grid";
@import "resources/assets/sass/elements/live_radio";
@import "resources/assets/sass/elements/week_shows";
@import "resources/assets/sass/main_views/staff";
@import "resources/assets/sass/main_views/the20";
@import "resources/assets/sass/content/article";
@import "resources/assets/sass/elements/spinner";

@mixin set-border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin disable-text-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

* {
    font-family: normal normal normal 13px/1.4em Arial, 'ｍｓ ｐゴシック', 'ms pgothic', '돋움', dotum, helvetica, sans-serif;
    font-weight: 100;
}

.modal-content {
    border: none !important;
    border-radius: unset !important;
}

.modal-header {
    border-bottom: none !important;
    padding: 25px !important;
    .close {
        font-size: 2.0rem !important;
        opacity: unset;
        color: white;
        top: -15px;
        position: absolute;
        right: -10px;
        height: 45px;
        width: 45px;
        border-radius: 50% !important;
        border: 3px solid white;
        background-color: black !important;
    }

}

.modal-body {
    padding: 30px !important;
}

.modal-footer {
    border-top: none !important;
}



